.infoWrap {
    display: grid;
    grid-template-columns: auto 360px;
    column-gap: 35px;
}

.frame {
    border: 1px solid $blue-1;
    padding: 45px;
    border-radius: 10px;
    display: grid;
    row-gap: 15px;

    p {
        margin-bottom: 0px;
    }
}

.smallFrame {
    border: 1px solid $blue-1;
    padding: 30px;
    border-radius: 10px;
    height: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.typeSection {
    display: grid;
    row-gap: 5px;
    padding: 15px 30px;
    background-color: $blue-3;

    p {
        margin-bottom: 0px;
    }
}