%button-shape {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-weight: 700;
}

.btn-primary {
    @extend %button-shape;

    &.blue {
        color: $light;
        background-color: $blue-1;
        border: none;

        &:hover, &:active {
            background-color: $blue-3;
        }
    }

    &.red {
        color: $light;
        background-color: $red;
        border: 0px;

        &:hover, &:active {
            border: 0px;
            background-color: $dark-red;
        }
    }

    &.disabled {
        color: #676767;
        background-color: #ADADAD;
    }
}

.btn-secondary {
    @extend %button-shape;

    &.blue {
        background-color: $blue-4;
        color: $blue-1;
        border: none;
        box-shadow: inset 0px 0px 0px 1px $blue-1;

        &:hover, &:active {
            color: $blue-1;
            background-color: $blue-3;
        }
    }

    &.disabled {
        color: '#C3C3C3';
        background-color: transparent;
        border: none;
        box-shadow: inset 0px 0px 0px 2px #C3C3C3;
    }
}

.btn-outline {
    @extend %button-shape;
    
    &.gray {
        color: $dark;
        background-color: $light;
        border-color: $dark;

        &:hover, &:active {
            background-color: $gray-4;
        }
    }
}

.btn-ghost {
    @extend %button-shape;

    &.blue {
        color: $dark;
        background-color: transparent;
        border: none;

        &:active, &:hover {
            background-color: $blue-1;
            color: $light;
        }
    }
}