$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-extra-large: 1200px;

$dark: #212121;
$light: #F5F5F5;

$light-blue: #F5F6FB;
$blue-1: #1C55FF;
$blue-2: #458AEB;
$blue-3: #9DB9FF;
$blue-4: #F3F6FF;

$light-gray: rgba(33, 33, 33, .70);
$gray-1: #919293;
$gray-2: #A0AFD4;
$gray-3: #9FA9BA;
$gray-4: #E1E1E1;

$orange-1: #F98817;
$orange-2: #FF9D3E;
$orange-3: #FFC68E;
$orange-4: #FFF5E9;

$red: #D41C1D;
$dark-red: #B10F0F;
$yellow: #F1C93A;

$font-10: 0.625rem;
$font-12: 0.75rem;
$font-16: 1rem;
$font-20: 1.25rem;
$font-24: 1.5rem;
$font-28: 1.75rem;
$font-32: 2rem;
$font-36: 2.25rem;