.menuWrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.link {
    width: 100%;
    text-decoration: none;
    color: $dark;
}

.profileBtn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 10px;
    color: $light;

    .name {
        margin-bottom: 0px;
        font-size: $font-16;
        font-weight: 600;
    }
}