.nominalSection {
    margin-top: 10px;
}

.actionBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
    margin-top: 40px;
}

.cancelBtn , .saveBtn{
    width: 110px;
}