.text {
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.desc {
    text-align: center;
    margin-bottom: 25px;
}

.btnList {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-top: 30px;
}

.actBtn {
    width: 110px;
}