.profileName {
    display: flex;
    column-gap: 20px;
    align-items: center;
    width: 100%;
}

.avaWrap  {
    position: relative;
}

.editBtn {
    background-color: #FFF !important;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
    position: absolute !important;
    right: 0;
    bottom: 0;
}

.editIcon {
    color: $dark;
}

.levelGroup {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.verifIcon {
    width: 26px;
    height: 26px;
}

.wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 20px;
}

.main {
    width: 100%;
}