.cardWrap {
    padding: 20px;
    border-radius: 10px;
}

.row {
    display: inline-flex;
    column-gap: 10px;  
}

.logoCompany {
    border-radius: 10px;
}

.companyName {
    p {
        margin-bottom: 0px;
    }
}

.companyTerms {
    display: flex;
    column-gap: 10px;
    margin: 25px 0px 10px 0px;
}

.textIcon {
    display: flex;
    column-gap: 8px;
}

.btnWrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.applyBtn {
    width: 100px;
}