.headline {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.inputWrap {
    display: grid;
    row-gap: 20px;

    label {
        margin-bottom: 5px;
    }
}

.actionBtn {
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
    margin-top: 30px;
}

.button {
    width: max-content;
}