.profileText {
    margin-bottom: 35px;
}

.avaRow {
    display: flex;
    align-items: flex-end;
    column-gap: 30px;
}

.groupBtn {
    display: flex;
    row-gap: 12px;
    flex-direction: column;
    width: 150px;

    button {
        font-size: $font-12;
        width: 130px;
        height: 35px;
    }
}

.formSection {
    margin-top: 30px;
    width: 600px;

    form {
        display: grid;
        row-gap: 15px;

        label {
            font-weight: 700;
        }

        textarea {
            resize: none;
            height: 120px;
        }
    }
}

.inputGroup {
    display: grid;
    row-gap: 10px;
}

.fileWrapper {
    margin: 10px 18px;
}

.cardGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $blue-2;
    padding: 10px 18px;
    border-radius: 10px;

    p {
        margin-bottom: 0px;
        color: $light;
    }
}

.actionBtn {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    margin-top: 50px;
}

.cancelBtn {
    width: 90px;
}

.updateBtn {
    width: 150px;
}