.card {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.company, .role {
    font-weight: 700;
    font-size: $font-20;
    margin-bottom: 5px;
}

.loc {
    color: $gray-1;
}

.action {
    width: max-content;
    display: grid;
    row-gap: 10px;
}

.colGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}

.colFlex {
    display: flex;
    gap: 120px;
}