.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    padding: 20px;
    border: 1px solid $blue-1;
    width: max-content;
    background-color: $blue-4;
    border-radius: 10px;
}

.labelCount {
    width: 160px;
}