.card {
    display: flex;
    align-items: center;
    column-gap: 15px;
    max-width: 260px;
}

.cardStatistic {
    min-width: 300px;
    display: flex;
    align-items: flex-start;
    column-gap: 15px;
    margin-top: 20px;
}

.details {
    p {
        margin-bottom: 0px;
    }
}